# --- CONFIGURACIÓN GLOBAL ---
MYSQL_ROOT_PASSWORD=rootpassword

# --- API 1 (.NET - WRITE) ---
API1_DB_CONNECTION=Server=db1;Port=3306;Database=fotografias_campos;User=root;Password=rootpassword;

# --- API 2 (NESTJS - SERVICES/CRON) ---
API2_DB_HOST=db2
API2_DB_PORT=3306
API2_DB_USER=root
API2_DB_PASS=rootpassword
API2_DB_NAME=estado_pedidos
API2_JWT_SECRET=PONER_AQUI_UNA_CLAVE_SECRETA_LARGA
API2_EMAIL_USER=tu_correo@gmail.com
API2_EMAIL_PASS=tu_password_de_aplicacion_google

# --- API 3 (.NET - READ/QUERY) ---
API3_REPLICA_CONNECTION=Server=db_replica;Port=3306;Database=replica_pedidos;User=root;Password=rootpassword;

# --- SEGURIDAD JWT COMPARTIDA ---
JWT_KEY=PONER_AQUI_UNA_CLAVE_SECRETA_LARGA
JWT_ISSUER=FotografiasCamposApi
JWT_AUDIENCE=FotografiasCamposClientes